InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

If:
  PathMatch: ".*"
  PathExclude: "/usr/.*"

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
    [
      performance-*,
      bugprone-*,
      modernize-*,
      clang-analyzer-*,
      readability-*,
      cert-*,
      cppcoreguidelines-*,
      google-*,
      hicpp-*,
      misc-*,
    ]
    Remove:
    [
      misc-non-private-member-variables-in-classes,
      cppcoreguidelines-avoid-const-or-ref-data-members,
      cppcoreguidelines-pro-bounds-constant-array-index,
      hicpp-signed-bitwise,
      cppcoreguidelines-avoid-magic-numbers,
      readability-identifier-length,
      readability-implicit-bool-conversion,
      readability-magic-numbers,
      bugprone-easily-swappable-parameters,
      modernize-use-trailing-return-type,
      cppcoreguidelines-pro-bounds-pointer-arithmetic,
      cppcoreguidelines-pro-type-reinterpret-cast,
      cppcoreguidelines-avoid-non-const-global-variables,
      cppcoreguidelines-pro-type-cstyle-cast,
      cppcoreguidelines-pro-type-const-cast
    ]
CompileFlags:
  Add: [$(pkg-config --cflags --libs webkit2gtk-4.1)]